.navbar{
    width:178px;
    flex-shrink: 0;
    height: 100vh;
    background-color: #393a3d;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
.navbar .sibar{
    width: 24px;
    height: 24px;
    margin-right:10px;
    /* Thêm icon vào bằng dòng lệnh sau */
    background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat -424px -86px;

}
.nav-logo {
    display: flex;
    justify-content: center;
    height: 56px;
    align-items: center;
}
.nav-item{
    margin:0 12px 4px 12px;
}
.navbar .nav-item .m-item-navbar{
    display: flex;
    height: 44px;
    align-items: center;
    border-left: 6px solid transparent;
    position: relative;
}
.m-item-icon{
    margin-right: 12px;
}