.m-button{
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    font-family: notosans-simidbold;
}
.ms-button-primary{
    min-width: 80px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #2ca01c;
}
.ms-button-primary:hover {
    background-color: #35bf22;
    color: #fff;
} 

.ms-button-secondary{
    min-width:unset !important;
    color: #000;
    background-color: unset;
}
.ms-button-secondary:hover{
    background-color: #d2d3d6 !important;
    color: #000;

}
.m-button:hover:not([disabled]){
    background-color: #73C663;
    cursor: pointer;
}
.m-button:disabled{
    opacity:0.56;
}
.m-btn{
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 0.59);
    background-color: #fff;
    padding: 0 16px;
    color: #000;
    font-family: notosans-simidbold;
    width: 100%;
}
.m-btn:hover{
    cursor: pointer;
    outline: 1px solid #e2e2e2 !important;
    background-color: #E0E0E0 !important;
}
.btn-icon{
    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-repeat: no-repeat;
    /* background-position: ;  */
}
.batch-execution{
    background-color: #fff;
    border-radius: 20px;
    color: #000;
}
.batch-execution:hover{
    background-color: #fff;
}