.alert-wrapper {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.7);
  top: 0;
  left: 0;
  z-index: 10000;
}

.alert-dialog {
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  position: fixed;
  left: 35%;
  bottom: 50%;
}
.alert-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.name-title {
  font-family: notosans-simidbold;
  font-size: 20px;
}
.alert-dialog-header {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.alert-dialog-header-text {
  color: #1F1F1F;
  text-align: left;
}

.alert-dialog-body {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  align-content: flex-end;
}

.alert-dialog-body-right {
  margin-left: 8px;

}