.loading-data{
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.322);
  top: 0;
  left: 0;
  z-index: 5;
}
.img-loading{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%,-50%); */
  animation: rotate 10s;

}
@keyframes rotate{
  0% {transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
